spring:
  application:
    name: gateway
    version: @project.version@
  main:
    web-application-type: reactive
    allow-bean-definition-overriding: true
  cloud:
    discovery:
      enabled: true
      eureka:
        instance:
          hostname: localhost
    client:
      hostname: localhost
    loadbalancer:
      enabled: true
      retry:
        enabled: true
    gateway:
      discovery:
        locator:
          enable: true
          lower-case-service-id: true
  jackson:
    time-zone: America/Sao_Paulo
  spring:
    timezone: America/Sao_Paulo
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: America/Sao_Paulo
    hibernate:
      ddl-auto: none
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  datasource:
    url:
server:
  port: ${PORT:8192}
#  servlet:
#    context-path: /gateway

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    enabled: true
    exporter:
      zipkin:
        enabled: true
        url: http://localhost:9411/api/v2/spans

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG

jwt:
  public:
    key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxyxs9a0bpYdH9x2hfjNS
      yNnz4FXmSpPz9CRLbtVlvghnZ4G9HB3Z++Z2HfpLIPahoCyp+Bi8b9gmDue3qRAn
      cSNH16LCcNrOYFapz9MoW3U6ijOKZJsowdWDnHY8e3FjSBTw5s4X9c2wha2v9Erj
      QNYdIIDXmqWoWm2206MsDzbwQ4bQo69/zMYU0xUmI0ZQViYVa6DVvXXZrYyyLNOv
      JrSxF+Fs3fN3Mv6/rELmwrR9KJNL+NaKuQW7BDV8L0f5m6davtQwzSmwkR+BlT97
      4wPPPdnZN+CzRW+7wAHTsMw1D8nEtL2bkHh1X82p+2nyMl+qQ/FtTaYEvbnazPGs
      ewIDAQAB
      -----END PUBLIC KEY-----

security:
  notification:
    api-key: gateway-api-key

servico-frontend: ${SERVICO-FRONTEND}
---
spring:
  config:
    activate:
      on-profile: dev
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/discovery/eureka
logstash:
  destination: localhost:5000
---
spring:
  config:
    activate:
      on-profile: prod
  cloud:
    discovery:
      eureka:
        instance:
          hostname: prod-hostname
    client:
      hostname: prod-hostname
eureka:
  client:
    service-url:
      defaultZone: ${URL_DISCOVERY}
server:
  port: ${PORT}
logstash:
  destination: ${LOGSTASH}
security:
  notification:
    api-key: ${CHAVE_API_KEY}
